.tag {
  color: var(--color-green);
  padding: 1.2rem 0.8rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: var(--c1-font-family);
  font-weight: var(--c1-font-weight);
  font-size: var(--c1-font-size);
  line-height: var(--c1-line-height);
  letter-spacing: var(--c1-letter-spacing);
}
