.message {
  font-family: var(--p1-font-family, Pretendard, sans-serif);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: 0;
  text-align: left;

  min-height: 1.5em;
  min-height: 1lh;

  margin-top: 0.5rem;
  margin-bottom: 1.6rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: opacity 120ms ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.error {
  color: var(--color-red);
}

.success {
  color: var(--color-yellow);
}
