.button {
  border-radius: 0.4rem;
  filter: blur(var(--blur-radius));
  /* -webkit-backdrop-filter: blur(0.8rem); */
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-weight: var(--font-p1-weight);
  font-size: var(--font-p1-size);
  line-height: var(--font-p1-line-height);
  letter-spacing: var(--font-p1-letter-spacing);
  padding: 1.2rem 0.8rem;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease, filter 0.2s ease, border 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.hover-style {
  filter: none;
  background-color: var(--background-secondary-color);
  border: 0.1rem solid var(--border-color);
}
