.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 6rem 0;
  gap: 4rem;
}

.topActions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.feedback h2 {
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  font-size: var(--p1-font-size);
  line-height: var(--p1-font-line-height);
  letter-spacing: var(--p1-font-letter-spacing);
}

.feedback form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 50%;
}

.feedback form:focus-within {
  outline: none;
}

.actions {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .topActions {
    padding-right: 1rem;
  }

  .feedback form {
    max-width: 92%;
    height: auto;
  }
}
