.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
  width: 100%;
  list-style: none;
  padding: 0;
}

.empty {
  grid-column: 1 / -1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
