.card {
  list-style-type: none;
  padding: 2.4rem;
  margin: 0;
  width: 100%;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  background-color: rgba(41, 40, 39, 0.6);
  transition: background-color 0.3s, color 0.3s;
}

.card > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  background-color: #292827;
}

.card.self {
  border: var(--color-green) solid 0.1rem;
}

.card.other {
  border: none;
}

.card.other:hover {
  background-color: rgba(135, 135, 135, 0.1);
}
