.title {
  font-family: var(--t2-font-family);
  font-weight: var(--t2-font-weight);
  font-size: var(--t2-font-size);
  line-height: var(--t2-line-height);
  letter-spacing: var(--t2-letter-spacing);
  max-height: calc(var(--t2-line-height) * 2);
  text-align: left;

  /* 여러 줄 말줄임 처리 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title.other {
  color: rgba(217, 217, 217, 0.5);
}

.title.self {
  color: rgba(217, 217, 217, 1);
}
