.wrap {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: rgba(217, 217, 217, 0.72);
  gap: 2rem;
}

.message {
  color: var(--color-gray-2);
  font-weight: var(--font-p1-weight);
  font-size: var(--font-p1-size);
  line-height: var(--font-p1-line-height);
  letter-spacing: var(--font-p1-letter-spacing);
}
