.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.landing .link {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
