.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.landing .link {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.content .title {
  display: flex;
  flex-direction: column;
}

.guide {
  text-align: center;
}

.textGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1100px;
  gap: 6rem;
  text-align: center;
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
}

.placeholder {
  display: block;
  height: 3rem;
  width: 100%;
  max-width: 320px;
}

.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.right {
  justify-content: flex-end;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* ✅ 모바일: 1열로 변경 */
@media (max-width: 640px) {
  .landing {
    align-items: flex-start;
    padding-top: 50px;
  }

  .textGroup {
    grid-template-columns: 1fr; /* 세로 1열 */
    gap: 4rem;
    justify-items: center;
  }

  .slot {
    justify-content: center;
    min-height: 3rem;
  }

  .left,
  .center,
  .right {
    justify-content: center;
  }

  .placeholder {
    max-width: 100%;
  }
}
