.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.profileSection {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logout {
  color: var(--color-gray-3);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  font-size: var(--p1-font-size);
  line-height: var(--p1-font-line-height);
  letter-spacing: var(--p1-font-letter-spacing);
}

.listSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.listSection :global(.tablist) {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .profile {
    display: flex;
    justify-content: center;
  }
}
