.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 0 2rem;
}

.logoLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}
