.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  position: fixed;
  top: 0;
  z-index: var(--z-header);
  padding: 0 2rem;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background: url("/noise-light.png") repeat 0 0 / 30px 30px,
    url("/noise-light.png") repeat 0 0 / 240px 240px,
    linear-gradient(108deg, #2a2928 0%, #262524 45%, #242322 55%, #262524 100%),
    repeating-linear-gradient(
      108deg,
      rgba(0, 0, 0, 0.015) 0px,
      rgba(0, 0, 0, 0.015) 1px,
      rgba(255, 255, 255, 0.015) 1px,
      rgba(255, 255, 255, 0.015) 2px
    );
  background-repeat: repeat, repeat, no-repeat, repeat;
  background-size: 30px 30px, 240px 240px, cover, auto;

  background-attachment: fixed, fixed, fixed, fixed;

  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  contain: paint;
}

.logoLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}
