.login {
  display: flex;
  flex-direction: column;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  font-size: var(--p1-font-size);
  line-height: var(--p1-font-line-height);
  letter-spacing: var(--p1-font-letter-spacing);
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  gap: 4rem;
}

.controlWidth {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}

.submit {
  width: 100%;
}

.fullWidth {
  display: block;
  width: 100%;
}

.passwordArea,
.signUpArea {
  display: flex;
  flex-direction: column;

  max-height: 0;
  opacity: 0;
  transform: translateY(-4px);
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 200ms ease, transform 200ms ease, max-height 200ms ease,
    visibility 0s linear 200ms;
}

.passwordArea.show,
.signUpArea.show {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
  transition: opacity 200ms ease, transform 200ms ease, max-height 200ms ease;
}

.signUpArea {
  margin-top: 1.6rem;
  align-items: center;
  text-align: center;
}

.signUpArea a {
  text-decoration: none;
  color: inherit;
}

.btn {
  margin-top: 2rem;
}
