.count {
  color: var(--color-gray-3);
  font-family: var(--c1-font-family);
  font-weight: var(--c1-font-weight);
  font-size: var(--c1-font-size);
  line-height: var(--c1-line-height);
  letter-spacing: var(--c1-letter-spacing);
}
