.weekContainer {
  display: grid;
  gap: 1rem;
}

.weekLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-size: 14px;
}

.weekDots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.5rem;
}
